<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::main})}" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
cccc
 <main class="principal">
	    <div class="tudo">
           <div class="login">
                <form action="/index"  method="POST" >
               
                    <label  for="usua" class="usuario">Nome do usuário</label> <br>
                    <input  class="campo-usuario"  name="nmUsuario" type="email"   placeholder="Email..." required="required"> <br>
                    
                    <label for="senh" class="senha">Senha</label> <br>
                    <input class="campo-senha" type="password" id="senh" name="senha"required> <br>
                    
                    <a >
                        <Button class="botao-login" type="submit" value="Logar">Logar </Button> 
                    </a>
                
                    <input class="checkbox" type="checkbox" name="gravar" id="gravar" onclick="alert('Que bom que voltou, Xiome!')">
                    <label for="gravar" class="lembre-me">Lembre-me</label> <br>
                    <hr class="linha">
                    <a href="" class="esq-senha">Esqueceu sua senha?</a>
                    <a href="" class="link2">Usar dominio personalizado</a>
                </form>
            </div>
	                    
	   </div>
	                
	</main>

     
</body>
</html>	