* { padding: 0; margin: 0; }

body {
	background: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
}

.tudo {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
    box-sizing: border-box;
} 

.header {
    width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: #F5F5F5;
    text-align: start;
    display: flex;
    align-items: center;
}

.icon-grafico {
    width: 1.9vw;
    padding: 0 5px;
}

.spanlogin {
	margin-left: 1400px ;
    line-height: 32px;
    box-sizing: border-box;
 color: #2E2E38;
    padding: 0 5px;
}

.titulo { 
    padding: 0;
    color: #2E2E38;
    font-size: 1.6vw;
}

.nav {
	width: 12%;
    height: 88vh;
    min-height: 500px;
	background-color: #4557BF;
	padding: 10px 8px;
	float: left;
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.nav-botao { 
    text-decoration: none;
    display: flex; 
    margin-bottom: 0.5vw;
    margin-left: 0.5vw;
}

.nav-texto:active { color: #49C7F7;}

.nav-icon {
    width: 1.3vw;
    height: 1.3vw;
    padding: 4px 0 4px 2px;
    align-self: center;
}

.nav-texto {
    color: #FFFFFF;
    font-size: 1.3vw;
    padding: 7px 4px;

}

.principal {
	width:88%;
    height: 88vh;
    min-height: 500px;
	background: #FFFFFF;
	float: left;
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-principal {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    width: 97%;
    padding: 1vw;
    margin-top: 12px;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.h1 { height: 2.4vw; }

.titulo-principal {
    font-size: 2.4vw;
    font-weight: lighter;
    letter-spacing: 0.09vw;
    vertical-align: text-top;
    margin-left: -0.3vw;
}

.grafico2 {
    width: 2.4vw;
    vertical-align: text-top;
}

.sub-titulo {
    margin-top: 0.7vw;
    color: #5E5E5E;;
    font-weight: lighter;
    font-size: 1.1vw;

}

.login {
    width: 40vw;
    height: 330px;
    background: #fff;
    display: block;
    position: relative;
    margin-top: 10vh;
    padding: 18px;
    border-radius: 4px;
    border: #f0efef 2px solid;

    box-sizing: border-box;
}

.usuario, .senha {
    display: inline-block;
    color: #4a4a50;
    font-size: 1.1vw;
    margin-bottom: 4px;
    line-height: 22px;
    box-sizing: border-box;
}

.campo-usuario, .campo-senha {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    font-size: 1.1vw;
    padding-left: 3px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: #e2e0e0 solid 2px;
}

.botao-login {
    width: 100%;
    height: 37px;
    background-color: #4557BF;
    color: #FFFFFF;
    font-size: 1.1vw;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    align-items: center;
    margin: 2px 0;
}

.botao-login:active {
    width: 99%;
    height: 36px;
    margin: 1px 0 4px 0.5%;
}

.checkbox {
    margin: 12px 0.2vw 11px 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.lembre-me {
    color: #4a4a50;
    font-size: 1vw;
    margin: 12px 0 11px 0;
    vertical-align: middle;
}

.linha {
    margin: 6px 0;
    background-color: #eae9e9;
    border: solid 0.5px #eae9e9;
}

.link2 { float: right; }

.esq-senha { float: left; }

.esq-senha, .link2 {
    text-decoration: none;
    font-size: 0.9vw;
    font-weight: 600;
    color: #4557BF;
    padding-top: 11px;
}

.esq-senha:hover, .link2:hover { text-decoration: underline;}

.footer {
	box-sizing: border-box;
    clear: both;
	width: 100%;
	padding: 8.5px 15px;
	background: #F5F5F5;
    text-align: end;
}

.footer-texto {
    font-size: 12px;
    color: #5E5E5E;
}

@media (max-width: 620px){
    .tudo { width: 100%; }

    .header { padding: 5px; }

    .icon-grafico { width: 2.8vw; }

    .titulo { 
        font-size: 2.4vw; 
        padding: 0 1px;
    }

    .nav-botao {
        margin-bottom: 0;
    }

    .nav-icon {
        width: 2.4vw; 
        height: 2.4vw;
        padding: 0; 
    }
    
    .nav-texto {
        font-size: 2.1vw;
        padding: 0;
    }

    .principal { height: 87vh; }

    .header-principal { 
        width: 90%; 
        padding-bottom: 1.2vw;
    }

    .h1 { height: 3.1vw; }

    .grafico2 {
        width: 2.9vw; 
        height: 2.9vw;
    }

    .titulo-principal {
        font-size: 2.9vw;
        margin-left: -0.5vw;

    }

    .sub-titulo { font-size: 1.6vw; }

    .login { width: 49vw }

    .usuario, .senha {
        font-size: 1.8vw;
        margin-bottom: 4px;
        line-height: 2.2vw;
    }

    .campo-usuario, .campo-senha { font-size: 1.8vw; }

    .botao-login { font-size: 1.8vw; }

    .lembre-me { 
        font-size: 1.7vw;
        margin-left: -0.3vw; 
    }

    .esq-senha, .link2 { 
        padding-top: 6px;
        font-size: 1.6vw; 
    }

    .footer { padding: 5px 8px; }

    .footer-texto { font-size: 1.9vw; }
}

@media (min-width: 621px) and (max-width: 900px){
    .header { padding: 5px; }

    .titulo { 
        font-size: 2.2vw;
        padding: 0; 
    }

    .icon-grafico { width: 2.6vw; }

    .nav { justify-content: start; }

    .nav-icon { 
        width: 2.2vw; 
        height: 2.2vw;
    }

    .nav-texto {
        font-size: 2vw;
        padding: 0px 4px 2px 0px;
    }
    
    .principal { height: 85.2vh; }

    .header-principal { 
        width: 95%; 
        padding-bottom: 1.1vw;
    }

    .h1 { height: 2.9vw; }

    .grafico2 {
        width: 2.8vw; 
        height: 2.8vw;
    }

    .titulo-principal {
        font-size: 2.8vw;
        margin-left: -0.5vw;

    }

    .sub-titulo { font-size: 1.5vw; }

    .login { width: 40vw }

    .usuario, .senha {
        font-size: 1.6vw;
        margin-bottom: 5px;
        line-height: 1.9vw;
    }

    .campo-usuario, .campo-senha { font-size: 1.6vw; }

    .botao-login { font-size: 1.6vw; }

    .lembre-me { 
        font-size: 1.5vw;
        margin-left: -0.4vw; 
    }

    .esq-senha, .link2 { 
        padding-top: 8px;
        font-size: 1.4vw; 
    }
     
    .footer { padding: 7px 9px; }

    .footer-texto { font-size: 1.4vw; }
}

@media (max-width: 900px){
	.nav{
		width: 100%;
        height: auto;
        min-height: 10px;
        padding: 8px;
    }
    .nav-botao {
        display: inline-block;
        margin: 0 10px 0 0;
    }
    .nav-icon { 
        vertical-align: bottom;
        padding: 0 0 2px 0;
    }
	.principal { width: 100%; }

    .login { 
        height: auto; 
        padding: 1.7vw;
        margin-top: 80px;
    }

    .linha { margin: 3px 0; }
}