<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::main})}" xmlns:th="http://www.w3.org/1999/xhtml">
	<meta charset="UTF-8" />
	<head >
           			

</head>
	<body>

		<main class="layout-content" >
		
				<h1 class="h1">
				<img class="grafico2" src="/image/grafico-animado-main.gif" alt="GIF de um gráfico ">
				<span  class="titulo-principal">Bem Vindo</span>
				</h1>
				<h2 class="sub-titulo">Aplicativo de qualficação de Lead's, Simulação Financeira e Avaliações comportamentais !</h2>
				

		</main>

	</body>
</html>